html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
.controls-wrapper{
  margin: 1rem;
  width: 384px;
  max-height: 583px;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(255, 106, 0, 0.77);
  padding: 10px 28px 30px 28px;
  border-radius: 4px;
}
.content-wrapper{
  z-index: 100;
  top: 0;
  left: 0;
  position: inherit;
}
.app-text {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
}
.app-heading{
  font-weight: 400;
  font-size: 27px;
  text-align: left;
  margin: 0;
  border-radius: 4px;
  color: #ffffff;
  /*color: #333333c4;
  background-color: rgba(255,255,255, 0.5);
  box-shadow: 4px 1px 20px 12px rgba(255,255,255, 0.5); */
}

.app-heading__wrapper{
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}
.cross-icon{
  color: #919191;
  font-size: 16px;
}
.waypoints-list{
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 450px;
  overflow: auto;
  margin-top: 22px;
  /* box-shadow: 0 2px 6px 0 rgba(0,0,0,.2); */
  border-radius: 4px;
}
.waypoints-list_empty{
  margin-top: 0;
}
.waypoint-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  height: 45px;
  line-height: 45px;
  width: 100%;
  padding-left: 1em;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.waypoint-item:first-child{
  border-radius: 4px 4px 0 0;
  /* margin-top: 22px; */
}
.waypoint-item:last-child{
  border-radius: 0 0 4px 4px;
}
.waypoint-item:only-child{
  border-radius: 4px;
}
.waypoint-item__button-wrapper{
  position: relative;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.waypoint-item__button{
  height: 45px;
  width: 45px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0; */
}
/* .waypoint-item:hover  .waypoint-item__button{
  opacity: 1;
} */
.waypoint-input{
  width: 100%;
  height: 45px;
  /* box-shadow: 0 2px 6px 0 rgba(0,0,0,.2); */
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 17px;
  padding-left: 1em;
  box-sizing: border-box;
}
.map-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}